{% extends "template.html" %}
{% block content %}
	<div class="jumbotron">
		<h1>How to play</h1>
	</div>
	<p>Remember the cricket trump card games we used to play years ago ? Relive the moments !</p>
	<div>
		<ul>
			<li>Hit "Start a new game"</li>
			<li>Select the number of cards you want to play in each set</li>
			<li>Hit "Heads" or "Tails" to call the coin toss</li>
			<li>Hit the "Let's Begin" button to get started with the game</li>
			<li>In each page, the player should make his move is displayed</li>
			<li>Each player has three dropdown menus - Tests, ODIs and T20Is. Click the dropdown button to show the list of all stats for that format. Click one on of them to select and play that stat</li>
			<li>The stats of the two players are compared and the corresponding changes are made</li>
			<li>The game continues till one person's set is empty. To put it simple, the person who manages to collect all the cards wins. </li>
		</ul>
	</div>	
	<div>
		<div style="margin: 15px padding: 15px"><a href="/setup"><button type="button" class="btn btn-default glow">Start a new game</button></a></div>
	</div>
{% endblock %}